.header__lang-link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 30px 16px 0 0;
  justify-self: end;
  display: inline;
}

.header__lang-link:nth-child(2) {
  text-decoration: none;
  margin: 0 16px 0 0;

}

@media screen and (min-width: 768px) {
  .header__lang-link:nth-child(2) {
    text-decoration: none;
    margin: 0 48px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .header__lang-link:nth-child(2) {
    text-decoration: none;
    margin: 0;
  }
}