.photo-grid {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: 1fr;
  gap: 12px;
  position: relative;
  margin: 64px 5vw 0;
}

@media screen and (min-width: 320px)  {
  .photo-grid {
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: 1fr;
    gap: 12px;
    margin: 88px 3.125vw 0;
  }
}

@media screen and (min-width: 768px)  {
  .photo-grid {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr 1fr;
    gap: 16px 16px;
    margin-top: 92px;
  }
}

@media screen and (min-width: 1024px)  {
  .photo-grid {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: 92px 0 0;
  }
}

@media screen and (min-width: 1280px)  {
  .photo-grid {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
}
