.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 32px auto 25px;
  width: 90vw;
  max-width: 100%;
}

.place__paragraph:nth-child(2) {
  margin: 0 auto 49px;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .place__paragraph {
    width: fit-content;
    margin: 0;  
  }
  .place__paragraph:nth-child(2) {
    margin: 25px auto 0;
  }  
}

@media screen and (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
    line-height: 163%;
    width: fit-content;
  }
  .place__paragraph:nth-child(2) {
    margin-top: 27px;
  }
}
