.place {
  max-width: 948px;
}

@media screen and (min-width: 768px) {
  .place {
    display: grid;
    grid-template-columns: 44.27vw 45.83vw;
    gap: 48px 28px;
    margin-top: 72px;
  }
  .place:first-child {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    grid-template-columns: 42.97vw 44.53vw;
    margin-top: 80px;
    gap: 48px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: 460px 484px;
  }
}
