.footer {
  position: relative;
  margin: 64px 0 24px 16px;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    margin: 8.5vh 3.125vw 24px;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    margin: 9vh 0 24px;
  }
}
